.homecontainer {
  width: 80%;
  margin: 80px auto 20px auto;
  padding: 20px;
  background-color: #808d7c;
  min-height: 850px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-item {
  flex: 1 0 30%; 
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.background-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.background-pic {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.post-link {
  width: 100%;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.post-link-text {
  font-size: 1.5em;
  color: #007bff;
  text-decoration: none;
}

.post-link-text:hover {
  text-decoration: underline;
}

.new-link-text {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.new-post-link:hover {
  background: #555;
}

.new-post-link {
  padding: 10px 20px;
  position: relative;
  background-color: #0c0c0c;
  border-radius: 10px;
  z-index: 0;
  outline: none;
  border: none;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  overflow: hidden;
}

.new-post-link:hover {
  animation: rotate 0.7s ease-in-out both;
}

.new-post-link:after {
  background: #8c8c8c;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.new-post-link:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
